*.spl
*.brf
*.out
*.log
*.synctex.gz
*.aux
*.blg
*~
*.fls
*.fdb_latexmk
*.rpy*
*.com
*.inp
*.sta
*.msg
*.odb
*.pckl
*.sim
*.sta
*.dat
*.prt
*.cid
*.lck
*.mdl
*.stt
*.023
*/_workdir/*
*/local_settings.py
data/model/local_settings.py
*/.ipynb_checkpoints/*
*.pyc
*/__pycache__/*
*.bbl
#*.pdf
**/_outputs*/**
**/draft/**
pitures/
article/article.pdf
**/ressources/**/*.pdf
*.pdf
*.toc
*.nav
*.snm
data_and_plots/data/data_table.tex
data_and_plots/data/data_full.csv
data_table.tex
data_full.csv
